body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 800px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #222222;
    transition: background-color 0.3, color 0.3;
}

header{
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}